#loader-img-uml {
<<<<<<< HEAD
  --front-color: black;
=======
  --front-color: #e536ab;
>>>>>>> frontend
  --back-color: lightgray;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-img-uml svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-img-uml svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#loader-img-uml svg circle.back {
  stroke: var(--back-color);
}

#loader-img-uml svg circle.front {
  stroke: var(--front-color);
}

#loader-img-uml svg.circle-outer {
  height: 128px;
  width: 86px;
}

#loader-img-uml svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#loader-img-uml svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#loader-img-uml svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#loader-img-uml svg.circle-middle {
  height: 60px;
  width: 60px;
}

#loader-img-uml svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#loader-img-uml svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#loader-img-uml svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#loader-img-uml svg.circle-inner {
  height: 100px;
  width: 34px;
}

#loader-img-uml svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#loader-img-uml svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#loader-img-uml svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#loader-img-uml .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#loader-img-uml .text::before, #loader-img-uml .text::after {
  content: attr(data-text);
}

#loader-img-uml .text::before {
  color: var(--text-color);
}

#loader-img-uml .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 301;
  }
  80% {
    stroke-dashoffset: 276;
  }
  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 204;
  }
  80% {
    stroke-dashoffset: 187;
  }
  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 106;
  }
  80% {
    stroke-dashoffset: 97;
  }
  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  50% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

